.menu-container {
    display: flex;
    flex-direction: column;
    background-color: rgb(243, 241, 241);
    height: 250px;
    border-radius: 10px;
    margin-top: 15px;
    padding: 5px;
}

.menuItem {
    color: black;
}

.menuItem:hover {
    color: red;
    transition: color 0.1s ease-in-out;
}

.active {
    display: flex;
}

.inactive {
    display: none;
}