.menu-container {
    display: flex;
    flex-direction: column;
    /* background-color: rgb(243, 241, 241); */
    background-color: white;
    height: 250px;
    border-radius: 10px;
    margin-top: 15px;
    padding: 5px;
}

.menuItem {
    color: rgb(4, 4, 4);
}

.menuItem:hover {
    background-color: rgb(230, 230, 230);
    border-radius: 15px;
    transition: background-color 0.3s ease-in-out;
}

.active {
    display: flex;
}

.inactive {
    display: none;
}