#lofi-circle-container {
    margin-top: 5px;
    justify-content: space-between;
    align-items: center;
}

.lofi-circle {
    width: 45px;
    height: 45px;
    border-radius: 100px;
    margin-right: 2.5px;
    margin-left: 2.5px;
    filter: none;
}

.lofi-circle:hover {
    border: 3px solid black;
    transition: border 0.1s ease-in-out;
}

#youtubeFrame {
    width: 395px;
    height: 315px;
    border-radius: 15px;
    margin-top: 10px;
    border: 3px solid #000000;
}